h1{
    margin: 20px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    
    }

    blockquote {
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 35px;
        letter-spacing: normal;
    }
    
    div {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 20px;
    }
    li{
        list-style-type: none;
        text-shadow: 2px 2px #e9e9e9;
        font-weight: bold;

    }
    h2{
        font-size: 25px;
        padding:0cqmax;
        background-color: rgb(166, 248, 221);
    }
    p{
        font-size: 23px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 30px;
        letter-spacing: 5cap;
    }
   .Merin{
    background-color: #e2e0e0;
    padding: 20px;
    
   }