h1{
    margin: 20px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    }
    blockquote {
        background-color: bisque;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    div {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }