.title{
    opacity: 100%;
    font-size: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    position: absolute;
    left: 52%;
    top: 40%;
    color: rgb(5, 31, 117);
 
    }
    blockquote {
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 35px;
        letter-spacing: normal;
    }
    div {
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 20px;
    }
    li{
        list-style-type: none;
        text-shadow: 2px 2px #0a0a0a;
        font-weight: bold;
        color: whitesmoke;

    }
    nav{
        background-color:  rgb(5, 31, 117);
        padding: 20px;
    }
    nav li{
        width: 25%;
        display: inline-block;
        max-width: 1200px;
        margin: 0 auto ;
        text-align: center;
    }
    nav li:hover{
        text-decoration-line: underline;
    
       }
    nav ul{
        white-space: nowrap;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: content-box;
    }
    h2{
        font-size: 25px;
        padding:10px;
        background-color: rgb(5, 31, 117);
        color: white;
    }
    p{
        font-size: 23px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 30px;
        letter-spacing: 5cap;
    }
   .Merin{
    background-color: #e2e0e0;
    padding: 20px;
    border-radius: 10px;
    
   }
   select {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: large;
  }
  input[type=submit]{
    background-color: rgb(5, 31, 117);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    font-size: large;
    border-radius: 5px;
  }
  input[type=submit]:hover {
    background-color:rgb(26, 39, 85);
    transition-duration: 0.2s;
  }
   img{
    filter: opacity(0.6);
    width: 1340px;
    position: inherit;
    top: auto;

   }
  p.h3{
    font-size: 40px;
    color:  rgb(5, 31, 117);
    padding: 15px;
    border-bottom: 3px solid rgb(5, 31, 117) ;
  }
   img.full{
    filter: opacity(1);
    width: 550px;
    position: inherit;
    top: auto;
    border-radius: 30px;
    
}
.container-1{
    background-color: rgb(5, 31, 117);
    padding: 2px;
    text-align: center;
    color: white;
    width: 450px;

}
.card-1{
    position: absolute;
    left: 55%;
    top: 1850px;
    padding: 15px;
    color: white;
    background-color:rgb(255, 255, 255) ;
    font-size: 20px;
    color: rgb(5, 31, 117);
    box-shadow: 0 4px 8px 0  rgb(5, 31, 117);
    transition: 0.3s;
}
.card-1:hover {
    box-shadow: 0 8px 16px 0 rgb(5, 31, 117);
}
#ajompur{
    border-collapse: collapse;
    width: 400px;
}
#ajompur td, #ajompur th {
    border: 1px solid rgb(5, 31, 117);
    padding: 8px;
    text-align: center;
  }
  
  #ajompur tr:nth-child(even){background-color: #f2f2f2;}
  
  #ajompur tr:hover {background-color: #ddd;}
  
  #ajompur th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #d2d4d3;
    color:rgb(5, 31, 117);
  }
  .container-2{
    background-color: rgb(5, 31, 117);
    padding: 2px;
    text-align: center;
    color: white;
    width: 650px;

}
.card-2{
    left: 55%;
    top: 1850px;
    padding: 15px;
    color: white;
    background-color:rgb(255, 255, 255) ;
    font-size: 20px;
    color: rgb(5, 31, 117);
    box-shadow: 0 4px 8px 0  rgb(5, 31, 117);
    transition: 0.3s;
    text-align: center;
}
.card-2:hover {
    box-shadow: 0 8px 16px 0 rgb(5, 31, 117);
  }
#gazipur{
    border-collapse: collapse;
    width: 400px;
    align-items: center;
}
#gazipur td, #gazipur th {
    border: 1px solid rgb(5, 31, 117);
    padding: 8px;
    text-align: center;
  }
  
  #gazipur tr:nth-child(even){background-color: #f2f2f2;}
  
  #gazipur tr:hover {background-color: #ddd;}
  
  #gazipur th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #d2d4d3;
    color:rgb(5, 31, 117);
  }
  .container-3{
    background-color: rgb(5, 31, 117);
    padding: 5px;
    text-align: center;
    color: white;
    width: 810px;

}
.card-3{
    position: absolute;
    left: 45%;
    top: 3100px;
    padding: 20px;
    color: white;
    background-color:rgb(255, 255, 255) ;
    font-size: 40px;
    color: rgb(5, 31, 117);
    box-shadow: 0 4px 8px 0  rgb(5, 31, 117);
    transition: 0.3s;
    text-align: center;
}
.card-3:hover {
    box-shadow: 0 8px 16px 0 rgb(5, 31, 117);
}
#mirpur{
    border-collapse: collapse;
    width: 600px;
    align-items: center;
}
#mirpur td, #mirpur th {
    border: 1px solid rgb(5, 31, 117);
    padding: 5px;
    text-align: center;
  }
  
  #mirpur tr:nth-child(even){background-color: #f2f2f2;}
  
  #mirpur tr:hover {background-color: #ddd;}
  
  #mirpur th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #d2d4d3;
    color:rgb(5, 31, 117);
  }
.last{
    color: white;
    background-color: #2c2c2c;
    text-align: center;
    padding: 7px;
   } 
   @media screen and (max-width:1700px) {
    .title{
        font-size: 1250px;
    }
   
}
@media screen and (max-width:1500px) {
    .title{
       left: 60%;
     }
     img{
        width: 1460px;
     }
     img.full{
        width: 740px;
     }
     .card-1{
        width: 10px;
     }
     .container-1{
        width: 570px;
     }
     #ajompur {
        width: 550px;
     }
     .card-2{
        width: 10px;
     }
     .container-2{
        width: 570px;
     }
     #gazipur {
        width: 550px;
     }
     .card-3{
        top: 3150px;
        width: 10px;
     }
     .container-3{
        width: 730px;
     }
     #mirpur {
        width: 700px;
     }
   }
   @media screen and (max-width:1200px) {
    .title{
        font-size: 50px;
        left: 45%;
    }
    img{
      width:1155px ;
    }
    img.full{
        width: 550px;
        height: 700px;
    }
    .container-1{
        width:470px ;
        
    }
    .card-1{
        left: 53%;
        top: 200% ;
    }
    #ajompur{
        width: 430px;
    }
    .container-2{
        width:450px ;
    }
    #gazipur{
        width:430px ;
    }
    .container-3{
        width: 500px;
    }
    .card-3{
        top: 273%;
    }
    #mirpur{
        width: 550px;
    }
   }